# The remote host(s) to use
remotes: None

# The remote to use for the extra simulations
extra_remote: None

# Keep remote input and output
keep: False

# Whether the different simulations share their input folder
shared_input: False

# The types of output that should be retrieved for the simulation (None means everything should be downloaded)
retrieve_types: None

# The number of cores to use per process (if the parallelization is not specified by the user for a certain remote host)
cores_per_process: 4

# Whether to enable data parallelization mode (if the parallelization is not specified by the user of the batch launcher for a certain remote host)
data_parallel: False

# Group multiple simulations in one job
group_simulations: False

# Timing and memory table path
timing_table_path: None
memory_table_path: None

# Dry run (don't actually launch the simulations)
dry: False

# Logging options
logging:
{
    brief: False
    verbose: False
    memory: False
    allocation: False
    allocation_limit: 1e-5
}

# Analysis
analysis:
{
    # Treat the specified paths for the simulation output directories and directories for analysis
    # (plotting, extraction, misc) as relative to the ski file (the simulation directory)
    relative: False

    # Extraction
    extraction:
    {
      # The path of the directory where the extracted data should be placed
      path: None

      progress: False
      timeline: False
      memory: False
    }

    # Plotting
    plotting:
    {
      # The path of the directory where the plots should be placed
      path: None

      seds: False
      grids: False

      progress: False
      timeline: False
      memory: False

      reference_sed: None
    }

    # Miscellaneous
    misc:
    {
      # The path of the directory where the other output should be placed
      path: None

      rgb: False
      wave: False

      fluxes: False
      images: False

      observation_filters: None
      observation_instruments: None
      make_images_remote: None
      images_wcs: None
      images_unit: None
      images_kernels: None
    }

    timing_table_path: None
    memory_table_path: None
}
