# Logging
logging:
{
  # Logging level
  level: 'INFO'
  
  # Cascade the logging level down to the lower-level objects
  cascade: True
  
  # Sets the path for an optional log file
  path: None
}

# The host identifier
host_id: None

# The cluster name
cluster_name: None

# Options for the remote host
host:
{
}
