# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files that must be normalized to native line endings on checkout.
*.h text
*.hh text
*.hpp text
*.c text
*.cc text
*.cpp text
*.py text
*.sh text
*.pro text
*.pri text
*.txt text
*.dat text
*.doxygen text
*.xml text
*.html text
*.css text

# Explicitly declare files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary

# Allow certain configuration settings to be altered by the user without affecting the repo status
*.cfg filter=gitignore
