# The path to the input directory
input_path: None

# The path to the output directory
output_path: None

# Options for catalogs (CatalogImporter)
catalogs:
{
}

# Options for galaxy extraction (GalaxyExtractor)
galaxies:
{
}

# Options for star extraction (StarExtractor)
stars:
{
}

# Options for other sources (TrainedExtractor)
other_sources:
{
}

# Write out the result
write_result: False

# Write out the total mask
write_mask: False

# Write out region files from the galaxy and star extraction
write_regions: False

# Write out masked frames from the galaxy and star extraction
write_masked_frames: False

# Write out segmentation maps
write_segments: False

# Write out galactic and stellar catalogs
write_galactic_catalog: False
write_stellar_catalog: False

# Synchronize galactic/stellar catalogs
synchronize_catalogs: False

# Special and ignore region
special_region: None
ignore_region: None

# Interpolation method
interpolation_method: "local_mean"

# Options for writing
writing:
{
    # Writing the resulting frame (with galaxies and stars removed)
    result_path: None
    
    # Writing the total mask (galaxy mask + star mask)
    mask_path: None
}
