# Logging
logging:
{
  # Logging level
  level: 'INFO'
  
  # Cascade the logging level down to the lower-level objects
  cascade: True
  
  # Sets the path for an optional log file
  path: None
} 

# Track record
track_record: False
plot_track_record_if_exception: True

# Special region
special_region: None

# Ignore region
ignore_region: None

# Manual star region
manual_region: None

# Remove stars from the frame
remove: True

# Remove saturated stars
remove_saturation: True

# Find apertures (for saturation)
find_apertures: False

# Aperture removal
remove_apertures: False
aperture_removal:
{
  # Expansion factor
  expansion_factor: 1.0
}

# Save table
save_table: False

# Save region
save_region: False

# Save masked frame
save_masked_frame: False

# Save result
save_result: False

# Fetching
fetching:
{
  # Other possible catalogs: "UCAC4", "NOMAD", "PPMXL", "II/246" (=2MASS point sources) (or combinations: not supported (yet)! )
  catalog: "II/246"
  
  # The minimum distance the star has to be seperated from the galaxy center to be positively identified as a star
  min_distance_from_galaxy: 15.0   # in pixels
}

# Source detection
detection:
{
  # Initial radius (in pixels)
  initial_radius: 10.0

  background_est_method: "polynomial"
  sigma_clip_background: True
 
  # Detection method
  detection_method: "peaks"
  
  # Central mask radius for gradient (in pixels)
  #central_mask_radius_for_gradient: 5.0   # not used anymore
  
  # Minimum pixels
  minimum_pixels: 5

  # Threshold sigmas
  sigma_level: 7.0

  # Peak offset tolerance (in pixels)
  peak_offset_tolerance: 3.0

  # Minimum level
  min_level: -2

  # Maximum level
  max_level: 2

  # Scale factor
  scale_factor: 2.0

  # Background outer factor
  background_outer_factor: 1.5

  # Always subtract background
  always_subtract_background: False
  
  # Debug
  debug:
  {
    zero_peaks_before: False
    zero_peaks_after: False
    zero_peaks: False
    one_peak: False
    more_peaks: False
    off_center: False
  }
}

# Fitting
fitting:
{
  use_center_or_peak: "peak"
  model_names: ["Gaussian", "Airy"]
  initial_sigma: None
  minimum_pixels: 5
  max_model_offset: 3.0
  zoom_factor: 2.0
  background_est_method: "polynomial"
  sigma_clip_background: True

  # Fit factor
  #fit_factor: 1.0 # not used anymore

  # Upsample factor
  upsample_factor: 1.0

  # Debug
  debug:
  {
    model_offset: False
    success: False
  }
  
  # Fit if undetected (no source (peak) found)
  fit_if_undetected: False
}

# Removal
removal:
{
  #subtract_model: False   # This feature is still unsupported !
  method: "interpolation"
  sigma_clip: True
  no_sigma_clip_on_galaxy: True
  polynomial_on_galaxy: True
  
  sigma_level: 5.0
  outer_factor: 1.6
  remove_saturation: True
  
  # Remove if undetected
  remove_if_undetected: False
}

# Saturated stars
saturation:
{
  method: "brightest" # other: "size", "all"
  criterion: "flux"  # or "central_brightness"
  brightest_method: "percentage"  # or: "sigma_clip"
  limit: 0.08  # for "percentage": a percentage, for "sigma_clip": a sigma-level
  
  # For segmentation:
  sigmas: 15.0
  background_outer_factor: 1.2
  always_subtract_background: False
  background_est_method: "polynomial"
  sigma_clip_background: True
  sigma_level: 2.0
  expansion_factor: 1.5
  
  # Minimum connected pixels (int)
  min_pixels: 5
  
  # Kernel
  kernel:
  {
    fwhm: 3.0
    cutoff_level: 4.0 # in sigmas
  }
  
  expand: True
  max_expansion_level: 3
  
  # For removing the saturation
  remove_method: "interpolation"
  sigma_clip: True
  no_sigma_clip_on_galaxy: True
  polynomial_on_galaxy: False
  
  # Debug mode
  debug:
  {
    no_segment_before: False
    no_segment_after: False
    no_segment: False
    expand: False
    success: False
    dilated: False
    
    user_expansion: False
    
    overlap_before: False
    overlap_after: False
  }
  
  dilate: True
  iterations: 5
  connectivity: 2
  
  # User expansion
  user_expansion: False
  user_expansion_factor: None
  
  # Remove if undetected
  remove_if_undetected: True
  
  # Remove appendages from overlapping mask
  remove_appendages: False
}

# Region
region:
{
  sigma_level: 5.0
}

# Mask
mask:
{
  # Use aperture instead of segment (source) mask
  use_aperture: True
  
  # Include stars in the mask for which a source was not found
  include_undetected: True
}

# Saturation mask
saturation_mask:
{
  use_aperture: False
}

# Plotting
plotting:
{
  show_colorbar: True
}

# Calculation of the default FWHM
fwhm:
{
  measure: "mean"    # other options: "max", "median"
}

# Apertures
apertures:
{
  sigma_level: 4.0 # approximate isophotal extent
}

# Manually selected stars
manual:
{
  background_outer_factor: 1.2
  remove_method: "interpolation"
  sigma_clip: True
}

# Saving
saving:
{
  # Saving star table
  table_path: None
  
  # Saving star region
  region_path: None
  region_annotation: "flux"
  
  # Saving masked stars frame
  masked_frame_path: None
  
  # Saving the resulting frame (with stars removed)
  result_path: None
}