# Logging
logging:
{
  # Logging level
  level: 'DEBUG'
  
  # Cascade the logging level down to the lower-level objects
  cascade: True
  
  # Sets the path for an optional log file
  path: None
} 

# Define whether to save or plot intermediate results
save: True
plot: False

# Define the names of the directories
data_dir: "data"
prep_dir: "prep"
in_dir: "in"
config_dir: "config"
extra_dir: "extra"
ignore_dir: "ignore"

# The reference (for convolving, rebinning)
reference_image: "PACS160"

# Run the image preparation
prepare: True

# Run the decomposition routines
decompose: True

# Run the map making
make_maps: True

# Run the SED fitting
fit_sed: True
