# Input path
input_path: None

# Output path
output_path: None

# Write intermediate steps
write_steps: False

# Star extraction
extract_sources: True
extraction:
{
}

# Galactic extinction
correct_for_extinction: True

# Unit conversion
convert_unit: True
unit_conversion:
{
  to_unit: "MJy/sr"
}

# Convolution
convolve: True
convolution:
{
  kernel_path: None
}

# Rebinning
rebin: True
rebinning:
{
  reference_path: None
}

# Sky subtraction
subtract_sky: True
sky_subtraction:
{
}

# Uncertainties
set_uncertainties: True
uncertainties:
{
  calibration_error: None
}

# Cropping
crop: True
cropping:
{
  limits: [350, 725, 300, 825]
}
